@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Montserrat", sans-serif;
    background-image: url("../src/assets/Neon-Green-Aesthetic-Wallpaper-for-Desktop\ 1.png");
    background-size: cover;
  }
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 3px 0 0 0;
    /* color: #000000; */
  }
  .big {
    background-color: rgba(255, 255, 255, 0.64);
    backdrop-filter: blur(103.5px);
  }
  .round {
    background: rgba(255, 255, 255, 0.78);
    border-radius: 20px;
  }

  .inputField {
    border-radius: 10px;

    min-height: 5.83333vh;
    width: 100%;
    padding-left: 1.2em;
  }
  .inputField::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .inputField:focus {
    outline: none;
    border: none;
  }
  .lightFields {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }



 

  .parent {
    padding: 24vw;
  }
  .want {
    color: rgba(0, 0, 0, 0.38);
  }
  .rememberMe {
    color: rgba(0, 0, 0, 0.86);
    font-weight: 400;
  }
  .signUp {
    background: #279b00;
    border-radius: 10px;
    width: 100%;
    height: 5.83333vh;
    font-weight: 600;
  }
  .byGoogle {
    background: rgba(255, 255, 255, 0.78);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .googleIcon {
    font-size: xx-large;
  }
  .signIn {
    color: #279b00;
  }
  .forgot {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #279b00;
  }

  /* darkmode controlleres */

  /* dark mode functions */
  .dark {
    background-color: black;
    border-radius: 20px;
    color: white;
  }
  .darkPage {
    background: rgba(0, 0, 0, 0.64);
    backdrop-filter: blur(103.5px);
  }
  .byGoogleDark {
    background: rgba(0, 0, 0, 0.78);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logoDark {
    color: #fff;
  }
  .darkFields {
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 10px;
    min-height: 5.83333vh;
    width: 100%;
    padding-left: 1.2em;
    background-color: rgba(0, 0, 0, 0.78) !important;
    color: rgba(255, 255, 255, 0.38);
  }

  .darkFields:focus,
  .darkFields:active {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.78);
    color: rgba(255, 255, 255, 0.38);
  }
  .darkFields::placeholder {
    color: rgba(255, 255, 255, 0.38);
  }

  .wantDark {
    color: rgba(255, 255, 255, 0.38);
  }

  /*  draft */
}
/* @media screen and (max-width: 400px) {
.signUp{
   min-width:80vw;
   margin-bottom: 2em;
}
.round{
 min-height: 100vh;
 margin-bottom: 0;
 padding-bottom: 3em;

}
.inputField{
    min-width: 80vw;

}
.label{
    padding-left: 2.5em
}
.logo{
    justify-content: center;
}
  }
  
  #dark{
    background-color: black;
  }
  #light{
    background-color: white;
  } */
